/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

/* Globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  font-weight: 300;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: url(./assets/img/bgImg.jpg) no-repeat center center fixed; */
  height: 100%;
  /* padding: 1rem 0.5rem; */
}

.stylesImg {
  width: 100%;
}
